<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wintter</title>
</head>
<body>

    <h1>WELCOME</h1>

    <div>
<p> Welcome to wintter </p>

            <a href="/Register">
                <button> Register </button>
            </a>

            <a href="/Login">
                <button> Login </button>
            </a>

            
    </div>
    
</body>
</html>