<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link href="../static/main.css" rel="stylesheet">-->
    <title>Wintter</title>
</head>
<body class="home_body">
    <div class="home_page">
        <h1>WELCOME</h1>

        <p> Wintter is comming</p>

        <p> Join us now.</p>

        <div id="register_form">
            <form th:action="@{/Register}" th:object="${user}" method="POST">
                    <input type="text" th:field="*{firstName}" placeholder="firstName...">
                    <input type="text" th:field="*{lastName}" placeholder="lastName...">
                    <input type="text" th:field="*{username}" placeholder="nickName...">
                    <input type="email" th:field="*{email}" placeholder="email...">
                    <input type="password" th:field="*{password}" placeholder="password...">
                    <input type="date" th:field="*{birthDate}" placeholder="birthDate...">
                    <input type="submit">
            </form>
        </div>

        <div id="connexion_form">
            <form th:action="@{/MyLogin}" th:object="${user}" method="POST">
                <input type="text" th:field="*{username}" placeholder="nickName ...">
                <input type="password" th:field="*{password}" placeholder="password...">
                <input type="submit">
            </form>
        </div>

    </div>
</body>
</html>